input::placeholder {
	color: gray;
}
input:focus-visible {
	border: 0.5px black !important;
	background-color: white;
	outline: none;
}
input:focus {
	border: 0.5px black !important;
	background-color: white;
	outline: none;
}
